# Environment variables
.env
.env.local
.env.*.local

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# OS
.DS_Store
Thumbs.db
